.bannerSearch{
    background-color: #373737;
    height: 100px;
}

.inputSearch{
    margin: 25px;
    width: 40%;
    height: 30px;
}

.qrveyTestLabelClass{
    position: fixed; 
    top:0px; 
    right: 5px; 
    color: white;
}

.iconInput{
    position: relative;
    left: calc(40% + 20px);
}