.bannerSearch{
    background-color: #373737;
    height: 100px;
}

.fieldSearchClass{
    margin: 25px;
    width: 40%;
}

.qrveyTestLabelClass{
    position: fixed; 
    top:0px; 
    right: 5px; 
    color: white;
}