<div class="countriesListClass">
    <ng-container *ngFor="let continent of continentsGroup">
        <div class="continentClass">
            <h3><span class="title">{{continent.region}}</span></h3>
            <ng-container  *ngFor="let country of continent.countries">
                <div class="countryClass" (click)="showCountryDetail(country)">
                    <span class="flagClass"><img width="30px" height="20px" [src]="country.flag"></span>
                    <span>{{country.name}}</span>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>

<div class="backgroundModal" *ngIf="showModal"></div>
<div class="modal" *ngIf="showModal">
    <span class="closeModalClass" (click)="closeModal()">x</span>
    <app-country-detail [dataResultApi]="getDataResultApi()" [alpha3Code]="selectedCountry.alpha3Code"></app-country-detail>
</div>