.countriesListClass{
    overflow: auto;
    height: calc(100% - 100px);
}

.continentClass{
    float: left;
    width: 220px;
    margin: 8px;
}

.countryClass{
    cursor: pointer;
}

.flagClass{
    margin-right: 5px;
}

.modal{    
    position: fixed;
    width: 550px;
    background-color: white;
    top: calc(50% - 200px);
    left: calc(50% - 280px);
    padding: 35px;
}

.flagSpanClass{
    position: absolute;
    top: 50px;
    right: 25px;
}

.flag{
    max-height: 100px;
    outline: solid;
    outline-width: 1px;
}

.subItemsClass{
    margin-left: 20px;
}

.favoriteClass{
    cursor: pointer;
    color: red;
}

.closeModalClass{
    position: absolute;
    right: 0px;
    margin-top: 5px;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    top: 6px;
}

.backgroundModal{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: gray;
    top: 1px;
    opacity: 0.5;
}

.favoriteOff{
    color: rgb(192, 192, 189);
}

.favoriteOn{
    color: #FCB35B;
}