.flagSpanClass{
    position: absolute;
    top: 50px;
    right: 0px;
}

.flag{
    max-height: 100px;
    outline: solid;
    outline-width: 1px;
}

.subItemsClass{
    margin-left: 20px;
}

.favoriteClass{
    cursor: pointer;
    color: red;
}